:root {
  /*  Colors */
  --color-black: #0f0f0f;
  --color-dark: #1c1c1c;
  --color-white: #ffffff;
  --color-gray: #cccccc9c;
  --color-orange: #ff7a00;
  --color-orange-dark: #e66b00;
  --color-green: #2ecc71;

  /* Typography */
  --font-main: "Segoe UI", sans-serif;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 42px;

  /* Spacing */
  --section-padding: 80px;
  --radius-sm: 6px;
  --radius-lg: 30px;

  /* shadows */
  --shadow-sm: 0 5px 15px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 15px 40px rgba(0, 0, 0, 0.35);

  /*  Transitions */
  --transition-fast: 0.3s ease;
}
/* Text selection color */
::selection {
  background-color: #ff7a00; /* البرتقالي */
  color: #000; /* لون النص */
}

/* Firefox */
::-moz-selection {
  background-color: #ff7a00;
  color: #000;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  background: var(--color-black);
  color: var(--color-gray);
  line-height: 1.6;
  overflow-x: hidden;
}
.container {
  max-width: 1200px; /* أو 1320px إذا حابة */
}

/* Top Header */
.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--color-dark);
  font-size: 14px;
  z-index: 3000;
}

.top-header-inner {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
}

/* Left */
.top-header-logo {
  flex: 0 0 auto;
}

/* Center */
.top-header-text {
  flex: 1;
  text-align: center;
  color: #ccc;
}

/* Right */
.top-header-btn {
  flex: 0 0 auto;
  font-size: 13px;
  padding: 6px 14px;
}
.main-header {
  position: fixed;
  top: 65px;
  margin-bottom: 50px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  transition:
    background 0.4s ease,
    backdrop-filter 0.4s ease;

  background: transparent;
  padding: 10px 0;
}
/* لما يصير Scroll */
.main-header.scrolled {
  background: rgba(30, 30, 30, 0.6); /* رمادي شفاف */
  backdrop-filter: blur(10px);
}

.navbar .nav-link {
  color: #ccc;
  font-weight: 500;
  position: relative;
}

.navbar .nav-link:hover {
  color: #fff;
}
.navbar .nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--color-orange);
}
.navbar .nav-link:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--color-orange);
}
.navbar-toggler {
  border: none;
  color: var(--color-orange) !important;
}
.dropdown-custom {
  position: relative;
}
.dropdown-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow-icon {
  font-size: 12px;
  transition: transform 0.3s ease;
}

/* عند hover السهم يطلع لفوق */
.dropdown-custom:hover .arrow-icon {
  transform: rotate(180deg);
}
.dropdown-box {
  position: absolute;
  top: 140%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease;
  z-index: 1000;
}

.dropdown-custom:hover .dropdown-box {
  opacity: 1;
  visibility: visible;
}
.dropdown-column {
  background: var(--color-orange);
  padding: 22px 28px;
  border-radius: 18px;
  min-width: 220px;
}

.dropdown-column a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 0;
  font-size: 14px;
}

.dropdown-column a:hover {
  color: var(--color-dark);
  opacity: 0.85;
}
.first-column {
  position: relative;
}

.first-column::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 40px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--color-orange);
}
.inner-hover {
  position: relative;
}

.nested-dropdown {
  position: absolute;
  top: 0;
  left: calc(100% + 40px);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  transform: translateX(-8px);
}

/* hover داخلي */
.inner-hover:hover .nested-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.inner-hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: -14px;
  width: 14px;
  height: 100%;
}
.burger-menu {
  display: none; /* مخفي افتراضيًا */
}

/* أيقونة البرغر */
.burger-menu i {
  color: var(--color-white);
  font-size: 35px;
}
.burger-menu:hover {
  background: var(--color-white);
}
.burger-menu i:hover {
  color: var(--color-orange);
}

.mobile-menu {
  position: fixed;
  top: 44px;
  right: -100%;
  width: 300px;
  height: 100vh;
  background-image: url(../img/mune.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  z-index: 2000;
  transition: right 0.35s ease;
  padding: 20px;
}

/* طبقة شفافة فوق الصورة */
.mobile-menu::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* غيري القيمة حسب الذوق */
  z-index: 0;
}

/* خلي المحتوى فوق الطبقة */
.mobile-menu * {
  position: relative;
  z-index: 1;
}
.mobile-menu.active {
  right: 0;
}
.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.close-menu {
  font-size: 26px;
  cursor: pointer;
}
.mobile-nav {
  list-style: none;
  padding: 0;
}

.mobile-nav li {
  margin-bottom: 20px;
}

.mobile-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.mobile-nav a:hover {
  color: var(--color-orange);
}

@media (max-width: 992px) {
  /* إخفاء المنيو العادي */
  .navbar-nav,
  .header-actions {
    display: none !important;
  }

  /* إظهار البرغر */
  .burger-menu {
    width: 50px;
    height: 50px;
    background: var(--color-orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .top-header .container {
    width: 100%;
    font-size: 11px;
  }
}
@media (max-width: 776px) {
  .top-header .container .btn {
    font-size: 9px;
  }
}

.btn-warning {
  background: var(--color-orange);
  border: none;
}

.btn-warning:hover {
  background: var(--color-white);
  color: var(--color-orange);
}
.btn i.bi-bicycle {
  font-size: 15px;
}
.icon-box {
  position: relative;
  color: var(--color-white);
  font-size: 20px;
  cursor: pointer;
}

.icon-box i {
  font-size: 22px;
}
.icon-box i:hover {
  color: var(--color-orange);
  font-size: 22px;
}

.badge-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background: var(--color-orange);
  color: #fff;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
/* shop-section  */
.shop-section {
  background: black;
  top: 45px;
  min-height: auto;
  width: auto;
  padding: 100px 0;
  text-align: start;
  position: relative;
  color: white;
}

/* Breadcrumb */
.breadcrumb-box {
  display: inline-flex;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.06);
  margin-bottom: 50px;
  border-radius: 50px;
}

.breadcrumb-box a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 9px 14px;
  font-size: 13px;
  border-radius: 50px;
  backdrop-filter: blur(6px);
  color: #bbb;
}

.breadcrumb-box a:hover {
  color: var(--color-orange);
}

/* Header */
.shop-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-header h2 {
  font-size: 40px;
  font-weight: bold;
}

.shop-header p {
  color: var(--color-gray);
  background: #111;
  border-radius: 30px;
  font-size: 15px;
  padding: 5px;
}

/* Controls */
.shop-controls {
  display: flex;
  gap: 5px;
  align-items: center;
}
.shop-actions {
  display: flex;
  gap: 4px;
  align-items: center;
}

/* Grid Icons */
.grid-icons {
  display: flex;
  gap: 5px;
}

.grid-btn {
  background: transparent;
  border: none;
  padding: 9px;
  color: var(--color-gray);
  cursor: pointer;
}

.grid-btn.active,
.grid-btn:hover {
  color: white;
}

/* Dropdown */
select {
  background: #111;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 14px;
  cursor: pointer;
}
/* Category Tabs */
.category-tab {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  background: rgba(30, 30, 30, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 10px 10px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Hover Effect */
.category-tab:hover {
  border-color: var(--color-orange);
  background-color: var(--color-orange);
  transform: translateY(-3px);
}

/* Folder Icon */
.tab-left i {
  width: 42px;
  height: 42px;

  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  color: white;
}
.tab-right {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin: 2px;
}

/* Title + Items */
.tab-right h2 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  color: white;
}

.tab-right p {
  font-size: 15px;
  margin: 2px 0 0;
  color: rgba(255, 255, 255, 0.5);
}

.products {
  height: auto;
  overflow: visible;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

/* Card */
.product-card {
  background: #111;
  width: 250px;

  top: 20px;
  border-radius: 0 100px 0 0;
  padding: 20px 15px;
  position: relative;
  overflow: visible;
  transition: 0.4s ease;
}

.product-card:hover {
  transform: translateY(-10px);
}

/* Image */
.product-img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 20px;
  transition: 0.4s ease;
}
.product-card:hover img {
  transform: scale(1.08);
}
.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Sale Badge */
.sale-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--color-orange);
  color: var(--color-white);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
}

/* Category */
.product-category {
  text-align: left;
  color: var(--color-gray);
  font-size: 12px;
}

/* Name */
.product-name {
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 16px;
  top: 50%;
  color: var(--color-white);
}

/* Price */
.product-price {
  font-size: 14px;
  color: var(--color-orange);
  font-weight: bold;
}

.old-price {
  font-size: 14px;
  color: gray;
  text-decoration: line-through;
  margin-left: 8px;
}

/* Button Hover */
.add-cart {
  background: #222;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  color: var(--color-orange);
  font-size: 12px;
  cursor: pointer;
  background-color: var(--color-white);
  transition: 0.3s;
}
.add-cart i {
  margin: 0 10px;
}

/* Button Hover */
.add-cart:hover {
  background: var(--color-orange);
  color: white;
}
.products-grid {
  display: grid;
  gap: 20px;
}

/* Default 3 cards */
.products-grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* 4 cards */
.products-grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* 6 cards */
.products-grid.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.products-grid {
  display: grid;
  gap: 20px;
}

/* Default 3 cards */
.products-grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* 4 cards */
.products-grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* 6 cards */
.products-grid.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
/*footer*/
.pre-footer {
  background: #000;
  padding: 100px 0 0;
  position: relative;
  z-index: 1;
}

.main-footer h6 {
  position: relative;
  padding-bottom: 10px;
}

/* الخط البرتقالي تحت العنوان */
.main-footer h6::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 26px;
  height: 2px;
  background: var(--color-orange);
}
.pre-footer-box {
  background: #1a1a1a;
  border-radius: 60px 60px 0 0;
  padding: 60px 40px;
  color: #fff;
}
.pre-footer a {
  text-decoration: none;
}

.pre-footer small {
  color: var(--color-orange);
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 700;
}

.pre-footer a h5 {
  color: var(--color-white);
  font-weight: 700;
  align-items: center;
}
.pre-footer a h5:hover {
  color: var(--color-orange);
}

.main-footer {
  background: #111;
  color: #ccc;
  padding: 140px 0 40px;
  position: relative;
  z-index: 2;
}

.main-footer h6 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
}

/*  Office  */
.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 12px;
  color: #ccc;
}

.footer-list li i {
  color: var(--color-orange);
  font-size: 16px;
  min-width: 18px;
}

/*  News  */
.footer-news {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

/* صندوق الصورة */
.news-img {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 10px;
  overflow: hidden;
}

/* الصورة */
.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* الأيقونة */
.news-icon {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: 0.3s ease;
  transform: scale(0.9);
}

/* شكل الأيقونة */
.news-icon i {
  color: var(--color-orange);
  font-size: 22px;
}

/* Hover effect */
.news-img:hover .news-icon {
  opacity: 1;
  transform: scale(1);
}

.footer-news p {
  margin: 0 0 4px;
  font-size: 13px;
  color: #fff;
  line-height: 1.4;
}

.footer-news small {
  font-size: 12px;
  color: #888;
}

.footer-news small i {
  color: var(--color-orange);
  margin: 0 4px;
}

/*  Shortcuts  */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #ccc;
}
.footer-links a:hover {
  color: var(--color-orange);
  transition: 0.3s ease;
}
/*  Working Hours  */
.footer-desc {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 14px;
}

.working-hours {
  list-style: none;
  padding: 0;
  margin: 0;
}

.working-hours li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 6px 0;
  border-bottom: 1px dashed #333;
}

/*  Footer Bottom  */
.footer-bottom {
  border-top: 1px solid #222;
  margin-top: 50px;
  padding-top: 20px;
  font-size: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0;
  color: #888;
}

.payments img {
  height: 26px;
  margin-left: 10px;
  opacity: 0.9;
}

/*  Responsive  */
@media (max-width: 992px) {
  .pre-footer-box {
    border-radius: 30px 30px 0 0;
    text-align: center;
  }
  .pre-item:not(:last-child)::after {
    display: none;
  }

  .main-footer {
    margin-top: -30px;
    padding-top: 100px;
  }

  .footer-bottom {
    justify-content: center;
    gap: 15px;
    text-align: center;
  }
}
